<html>
   <body>
      <form action = "uploader" method = "POST" 
         enctype = "multipart/form-data">
          <p> Choose train dataset to upload </p>
          <input type = "text" name = "ID" value="ID" />
         <input type = "file" name = "file" >
         <input type = "submit"/>
      </form>
      <p>{{ plot_url }}</p>
   </body>
</html>
  <body>



<html>
      <form action = "list" method = "POST"
         enctype = "multipart/form-data">
         <input type = "text" name = "ID" value="ID" />
         <button name="subject" type="submit"> List Objects </button>
      </form>
      <p>{{ plot_url }}</p>
   </body>
</html>


   <body>
<html>
      <form action = "testset" method = "POST" 
         enctype = "multipart/form-data">
         <p> Type ID, Trainset name, Target Variable and provide a test file  to upload  </p>
         <input type = "text" name = "ID" value="ID" /> 
         <input type = "text" name = "trainfile" value= "Train File Name" />
         <input type = "text" name = "OutcomeType" value= "Target Variable" />
         <input type = "file" name = "testfile"  value = "Testfile"/>
         <input type = "submit"/>
      </form>
      <p>{{ plot_url }}</p>
   </body>
</html>

